<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182498391603-fj491gr3e4gfdvtqa6k829563ri0kbpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182498391603-fj491gr3e4gfdvtqa6k829563ri0kbpd</string>
	<key>API_KEY</key>
	<string>AIzaSyB27rEPKppqmVgUTKi2Qci_ZOG2xnk1WUs</string>
	<key>GCM_SENDER_ID</key>
	<string>182498391603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dante.Cloth</string>
	<key>PROJECT_ID</key>
	<string>cloth-9cdf7</string>
	<key>STORAGE_BUCKET</key>
	<string>cloth-9cdf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182498391603:ios:7c5b0ef5d3800638df1546</string>
</dict>
</plist>